code {
    border-radius: 6px;
    color: #fff;
    display: block;
    font: 14px/24px "Source Code Pro", Inconsolate;
    padding: 24px 15px;
    text-align: center;
    }

Header,
aside,
section,
footer{
    margin: 0 1.5% 24px 1.5%;
}
section{
    display: inline-block;
    width: 46.7%;
    margin: 0 1.5%;
    
}
aside{
    float: right;
    margin: 0 1.5%;
    width: 40%;
}
footer{
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}
div{
    margin:1.5%;
    }
