code {
border-radius: 6px;
color: #fff;
display: block;
font: 14px/24px "Source Code Pro", Inconsolate;
padding: 24px 15px;
text-align: center;
}

header,
section,
aside,
footer{
    margin: 0 1.5% 24px 1.5%;
    border: 5px solid black;
}
section{
    display: inline-block;
    width: 30%;
    
}
aside{
    float: right;
    margin: 0 1.5%;
    width: 30%;
}
footer{
    margin-bottom: 0;
    margin-top: 1.5%;
}
    